<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/servlet/ImageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterByPhoneServlet</servlet-name>
        <servlet-class>servlet.RegisterByPhoneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterByPhoneServlet</servlet-name>
        <url-pattern>/servlet/RegisterByPhoneServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterByEmailServlet</servlet-name>
        <servlet-class>servlet.RegisterByEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterByEmailServlet</servlet-name>
        <url-pattern>/servlet/RegisterByEmailServlet</url-pattern>
    </servlet-mapping>
</web-app>